.terminal {
    background-color: #000;
    color: #17c900;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    width: 500px;
    border: 1px solid #888;
    position: absolute;
    bottom: 0;
    left: 0;
    max-height: 70vh; 
    overflow-y: auto;
}
  
.command-history {
    white-space: pre-wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.blinking-cursor {
    animation: blink 1s infinite;
    border-right: 1px solid #17c900;
    display: inline-block;
    color: #17c900;
    width: 0;
    height: 1em;
}


@keyframes blink {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: #17c900;
    }
    100% {
        border-color: transparent;
    }
}
  