.attachment-container {
  position: relative;
  z-index: 0; /* Set a higher z-index for the input bar */
}

.attachment-menu {
  position: absolute;
  bottom: 0; /* Adjust the positioning if needed */
  opacity: 1;
  transform: scale(1); /* Start with normal size */
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 0; /* Set a lower z-index for the attachment menu */
}

.attachment-menu-open {
  position: absolute;
  bottom: 0;
  opacity: 1;
  transform: scale(1); /* Use the same scale for opening */
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 0; /* Set a lower z-index for the attachment menu */
}

/* Animation for closing without affecting the input bar */
.attachment-menu-closed {
  position: absolute;
  bottom: 0;
  opacity: 1;
  transform: scale(0); /* Use the same scale for opening */
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 0; /* Set a lower z-index for the attachment menu */
}
