#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    z-index: 9999;
}

.spinner {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid var(--theme-flavor-text);
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

.loading-gif {
    width: 160px;
}

.desktop-box {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.75);
    width: 25vw;
    height: 20vw;
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.is-loading-letter {
    animation: bounce 1s infinite;
    display: inline-block;
}
  
.is-loading-letter:nth-child(1) { animation-delay: 0.1s; }
.is-loading-letter:nth-child(2) { animation-delay: 0.2s; }
.is-loading-letter:nth-child(3) { animation-delay: 0.3s; }
.is-loading-letter:nth-child(4) { animation-delay: 0.4s; }
.is-loading-letter:nth-child(5) { animation-delay: 0.5s; }
.is-loading-letter:nth-child(6) { animation-delay: 0.6s; }
.is-loading-letter:nth-child(7) { animation-delay: 0.7s; }
.is-loading-letter:nth-child(8) { animation-delay: 0.8s; }
.is-loading-letter:nth-child(9) { animation-delay: 0.9s; }
.is-loading-letter:nth-child(10) { animation-delay: 0.10s; }
.is-loading-letter:nth-child(11) { animation-delay: 0.11s; }
  
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
  
/* Spinner animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add CSS for animation here */
@keyframes flyIn {
    from {transform: translateX(-100%);}
    to {transform: translateX(0);}
}

.fly-in-text {
    animation: flyIn 2s;
}

@keyframes flyOut {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
}

.fly-out-text {
    animation: flyOut 2s;
}
  