@charset "UTF-8";
/* Import the base styles for Tailwind */
@import 'tailwindcss/base';

/* Import the component styles for Tailwind */
@import 'tailwindcss/components';

/* Import the utility styles for Tailwind */
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'DejaVuSansBold';
  src: local('DejaVuSansBold'), url('./fonts/DejaVuSans-Bold.ttf') format('ttf');
}

:root {
  --background-image: null;
  --theme-root: rgba(0, 0, 0, 0.5);
  --theme-box: rgba(0, 0, 0, 0.5);
  --theme-italic: rgba(245, 245, 245, 1);
  --theme-text: rgba(255, 253, 253, 1);
  --theme-button: rgba(14, 34, 19, 0.658);
  --theme-accent: rgba(12, 151, 31, 0.295);
  --theme-border: rgba(0, 0, 0, 1);
  --theme-hover-pos: var(--theme-accent);
  --theme-hover-neg: rgba(196, 0, 0, .75);
  --theme-blur: 15px;
  --theme-border-width: 2px;
  --theme-border-radius: 8px;
  --theme-font: 'DejaVuSansBold', sans-serif;
  --theme-border-type: solid;
  --theme-text-hover: rgb(255, 255, 255);
}

.main-content {
  margin: 0 auto;
  text-align: center;
  padding-top: 70px;
}

:root {
  font-family: var(--theme-font);
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--theme-text);
  background-image: var(--background-image);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

code {
  background-color: #1a1a1a;
  padding: 2px 4px;
  margin: 0 4px;
  border-radius: 4px;
}

.card {
  padding: 2em;
}

.themed-button-neg {
  @apply theme-border-style shadow-md bg-theme-button hover:text-theme-text-hover hover:bg-theme-hover-neg text-theme-text border-theme-border border-theme-border-width p-2 backdrop-blur-theme-blur rounded-theme-border-radius;
}

.themed-button-pos {
  @apply theme-border-style shadow-md bg-theme-button hover:text-theme-text-hover hover:bg-theme-hover-pos text-theme-text border-theme-border border-theme-border-width p-2 backdrop-blur-theme-blur rounded-theme-border-radius;
}

.themed-button {
  @apply theme-border-style shadow-md bg-theme-button text-theme-text border-theme-border border-theme-border-width p-2 backdrop-blur-theme-blur rounded-theme-border-radius;
}

.themed-root {
  @apply theme-border-style shadow-md bg-theme-root border-theme-border border-theme-border-width rounded-theme-border-radius p-4 backdrop-blur-theme-blur;
}

.themed-box {
  @apply theme-border-style shadow-md bg-theme-box border-theme-border border-theme-border-width rounded-theme-border-radius p-4 backdrop-blur-theme-blur;
}

.themed-input {
  @apply resize-none overflow-hidden theme-border-style shadow-md bg-theme-accent text-theme-text border-theme-border border-theme-border-width p-2 backdrop-blur-theme-blur rounded-theme-border-radius;
}

.theme-border-style {
  border-style: var(--theme-border-type);
}

.themed-button-small {
  @apply theme-border-style shadow-md bg-theme-button text-theme-text border-theme-border border-theme-border-width p-1 backdrop-blur-theme-blur rounded-theme-border-radius;
}

/* This is the scrollbar track */
::-webkit-scrollbar {
  width: 10px;
}

/* This is the scrollbar itself */
::-webkit-scrollbar-thumb {
  background: var(--theme-box); 
  border-radius: var(--theme-border-radius);
}

/* This is when you hover over the scrollbar */
::-webkit-scrollbar-thumb:hover {
  background: var(--theme-hover-pos); 
}